{% extends 'base.html' %}
{% load static %}
{% block title %}Login - MomentInMotion{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form method="post" class="form-column">
        {% csrf_token %}
        <label>Username:</label>
        {{ form.username }}
        <label>Password:</label>
        {{ form.password }}
        <button type="submit">Login</button>
    </form>
    <div class="form-link">
        Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
    </div>
</div>
{% endblock %}